In [26]:
import requests
import pandas as pd
import regex as re
from datetime import datetime

Challenge 1: Fork Languages

In [12]:
response = requests.get('https://api.github.com/repos/ironhack-datalabs/bcn-feb-2019/forks')
hey = response.json()
#df = pd.DataFrame(response.json())
#df.head()

In [15]:
forked_lang = []
for person in hey:
    forked_lang.append(person['language'])
forked_lang

[None, None, None, None, None, 'Jupyter Notebook']

Challenge 2: Count Commits

In [20]:
response = requests.get('https://api.github.com/repos/ta-data-lis/lab-mysql-first-queries/forks')
response

In [22]:
response.json()
df = pd.DataFrame(response.json())
df.head()

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,open_issues_count,license,allow_forking,is_template,topics,visibility,forks,open_issues,watchers,default_branch
0,451573568,R_kgDOGup3QA,lab-mysql-first-queries,silvaaps06/lab-mysql-first-queries,False,"{'login': 'silvaaps06', 'id': 96822829, 'node_...",https://github.com/silvaaps06/lab-mysql-first-...,None,True,https://api.github.com/repos/silvaaps06/lab-my...,...,0,None,True,False,[],public,0,0,0,master
1,451570617,R_kgDOGupruQ,lab-mysql-first-queries,ana17mat/lab-mysql-first-queries,False,"{'login': 'ana17mat', 'id': 97836713, 'node_id...",https://github.com/ana17mat/lab-mysql-first-qu...,None,True,https://api.github.com/repos/ana17mat/lab-mysq...,...,0,None,True,False,[],public,0,0,0,master
2,451570592,R_kgDOGuproA,lab-mysql-first-queries,migueltalambas/lab-mysql-first-queries,False,"{'login': 'migueltalambas', 'id': 97064159, 'n...",https://github.com/migueltalambas/lab-mysql-fi...,None,True,https://api.github.com/repos/migueltalambas/la...,...,0,None,True,False,[],public,0,0,0,master
3,451569541,R_kgDOGupnhQ,lab-mysql-first-queries,etazevedo/lab-mysql-first-queries,False,"{'login': 'etazevedo', 'id': 95646089, 'node_i...",https://github.com/etazevedo/lab-mysql-first-q...,None,True,https://api.github.com/repos/etazevedo/lab-mys...,...,0,None,True,False,[],public,0,0,0,master
4,451569511,R_kgDOGupnZw,lab-mysql-first-queries,CeciliaMezzera/lab-mysql-first-queries,False,"{'login': 'CeciliaMezzera', 'id': 94794055, 'n...",https://github.com/CeciliaMezzera/lab-mysql-fi...,None,True,https://api.github.com/repos/CeciliaMezzera/la...,...,0,None,True,False,[],public,0,0,0,master

In [23]:
df['pushed_at']

0     2022-01-25T16:58:41Z
1     2021-12-30T14:21:39Z
2     2021-12-30T14:21:39Z
3     2022-01-25T15:23:23Z
4     2022-01-24T19:53:28Z
5     2021-12-30T14:21:39Z
6     2022-01-24T20:32:39Z
7     2021-12-30T14:21:39Z
8     2021-12-23T16:32:09Z
9     2021-12-30T14:20:42Z
10    2021-12-16T20:16:53Z
11    2021-12-18T10:06:39Z
12    2021-12-09T17:03:46Z
13    2021-12-09T17:00:06Z
14    2021-11-14T17:59:51Z
15    2021-11-14T17:58:18Z
16    2021-11-01T21:32:09Z
17    2021-11-01T11:41:34Z
18    2021-06-21T06:03:24Z
19    2021-10-25T19:33:15Z
20    2021-11-03T09:10:46Z
21    2021-10-31T17:06:47Z
22    2021-11-01T15:51:56Z
23    2021-10-30T12:14:31Z
24    2021-11-01T15:21:48Z
25    2021-11-01T08:07:53Z
26    2021-11-01T21:54:09Z
27    2021-06-08T11:49:39Z
28    2021-06-07T18:03:23Z
29    2021-06-13T21:18:05Z
Name: pushed_at, dtype: object

In [37]:
df['pushed_at'] = pd.to_datetime(df['pushed_at'])
    
df['pushed_at'].sort_values(ascending = False)

0    2022-01-25 16:58:41+00:00
3    2022-01-25 15:23:23+00:00
6    2022-01-24 20:32:39+00:00
4    2022-01-24 19:53:28+00:00
1    2021-12-30 14:21:39+00:00
2    2021-12-30 14:21:39+00:00
5    2021-12-30 14:21:39+00:00
7    2021-12-30 14:21:39+00:00
9    2021-12-30 14:20:42+00:00
8    2021-12-23 16:32:09+00:00
11   2021-12-18 10:06:39+00:00
10   2021-12-16 20:16:53+00:00
12   2021-12-09 17:03:46+00:00
13   2021-12-09 17:00:06+00:00
14   2021-11-14 17:59:51+00:00
15   2021-11-14 17:58:18+00:00
20   2021-11-03 09:10:46+00:00
26   2021-11-01 21:54:09+00:00
16   2021-11-01 21:32:09+00:00
22   2021-11-01 15:51:56+00:00
24   2021-11-01 15:21:48+00:00
17   2021-11-01 11:41:34+00:00
25   2021-11-01 08:07:53+00:00
21   2021-10-31 17:06:47+00:00
23   2021-10-30 12:14:31+00:00
19   2021-10-25 19:33:15+00:00
18   2021-06-21 06:03:24+00:00
29   2021-06-13 21:18:05+00:00
27   2021-06-08 11:49:39+00:00
28   2021-06-07 18:03:23+00:00
Name: pushed_at, dtype: datetime64[ns, UTC]

In [42]:
start_date = "2022-01-12"
end_date = "2022-01-26"

after_start_date = df["pushed_at"] >= start_date
before_end_date = df["pushed_at"] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = df.loc[between_two_dates]
filtered_dates

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,open_issues_count,license,allow_forking,is_template,topics,visibility,forks,open_issues,watchers,default_branch
0,451573568,R_kgDOGup3QA,lab-mysql-first-queries,silvaaps06/lab-mysql-first-queries,False,"{'login': 'silvaaps06', 'id': 96822829, 'node_...",https://github.com/silvaaps06/lab-mysql-first-...,None,True,https://api.github.com/repos/silvaaps06/lab-my...,...,0,None,True,False,[],public,0,0,0,master
3,451569541,R_kgDOGupnhQ,lab-mysql-first-queries,etazevedo/lab-mysql-first-queries,False,"{'login': 'etazevedo', 'id': 95646089, 'node_i...",https://github.com/etazevedo/lab-mysql-first-q...,None,True,https://api.github.com/repos/etazevedo/lab-mys...,...,0,None,True,False,[],public,0,0,0,master
4,451569511,R_kgDOGupnZw,lab-mysql-first-queries,CeciliaMezzera/lab-mysql-first-queries,False,"{'login': 'CeciliaMezzera', 'id': 94794055, 'n...",https://github.com/CeciliaMezzera/lab-mysql-fi...,None,True,https://api.github.com/repos/CeciliaMezzera/la...,...,0,None,True,False,[],public,0,0,0,master
6,451225045,R_kgDOGuUl1Q,lab-mysql-first-queries,calvinhus/lab-mysql-first-queries,False,"{'login': 'calvinhus', 'id': 49272934, 'node_i...",https://github.com/calvinhus/lab-mysql-first-q...,None,True,https://api.github.com/repos/calvinhus/lab-mys...,...,0,None,True,False,[],public,0,0,0,master