In [1]:
import pandas as pd
import requests

In [ ]:
##CHALLENGE 1 ##

In [2]:
#LANGUAGES

response = requests.get('https://api.github.com/repos/ironhack-datalabs/bcn-feb-2019/languages')

response.status_code

200

In [3]:
pd.DataFrame.from_dict(response.json(), orient='index').T

   Jupyter Notebook    HTML  Python
0           1255048  498316   20656

In [4]:
##FORKS

response = requests.get('https://api.github.com/repos/ironhack-datalabs/bcn-feb-2019/forks')

response.status_code

200

In [6]:
pd.DataFrame(response.json()).columns

Index(['id', 'node_id', 'name', 'full_name', 'private', 'owner', 'html_url',
       'description', 'fork', 'url', 'forks_url', 'keys_url',
       'collaborators_url', 'teams_url', 'hooks_url', 'issue_events_url',
       'events_url', 'assignees_url', 'branches_url', 'tags_url', 'blobs_url',
       'git_tags_url', 'git_refs_url', 'trees_url', 'statuses_url',
       'languages_url', 'stargazers_url', 'contributors_url',
       'subscribers_url', 'subscription_url', 'commits_url', 'git_commits_url',
       'comments_url', 'issue_comment_url', 'contents_url', 'compare_url',
       'merges_url', 'archive_url', 'downloads_url', 'issues_url', 'pulls_url',
       'milestones_url', 'notifications_url', 'labels_url', 'releases_url',
       'deployments_url', 'created_at', 'updated_at', 'pushed_at', 'git_url',
       'ssh_url', 'clone_url', 'svn_url', 'homepage', 'size',
       'stargazers_count', 'watchers_count', 'language', 'has_issues',
       'has_projects', 'has_downloads', 'has_wiki', 'has_pages', 'forks_count',
       'mirror_url', 'archived', 'disabled', 'open_issues_count', 'license',
       'allow_forking', 'is_template', 'topics', 'visibility', 'forks',
       'open_issues', 'watchers', 'default_branch'],
      dtype='object')

In [7]:
pd.DataFrame(response.json())['language']

0                None
1                None
2                None
3                None
4                None
5    Jupyter Notebook
Name: language, dtype: object

In [8]:
language_array=list(set(pd.DataFrame(response.json())['language']))
language_array

[None, 'Jupyter Notebook']

In [44]:
##CHALLENGE 2 ##

In [15]:
response = requests.get('https://api.github.com/repos/ana17mat/lab-mysql-first-queries/commits', params={'since':'2022-01-17'})

response.status_code

200

In [16]:
coms = pd.DataFrame(response.json())

coms

,sha,node_id,commit,url,html_url,comments_url,author,committer,parents
0,13c60ba2457eacab8671cccd17a4ab1941387d30,C_kwDOGuprudoAKDEzYzYwYmEyNDU3ZWFjYWI4NjcxY2Nj...,"{'author': {'name': 'Ana Matias', 'email': 'an...",https://api.github.com/repos/ana17mat/lab-mysq...,https://github.com/ana17mat/lab-mysql-first-qu...,https://api.github.com/repos/ana17mat/lab-mysq...,"{'login': 'ana17mat', 'id': 97836713, 'node_id...","{'login': 'ana17mat', 'id': 97836713, 'node_id...",[{'sha': '6a243303cfd846faac16417cad54cd40ab3f...

In [17]:
coms['commit'][0]

{'author': {'name': 'Ana Matias',
  'email': 'ana17mat@gmail.com',
  'date': '2022-01-31T18:17:12Z'},
 'committer': {'name': 'Ana Matias',
  'email': 'ana17mat@gmail.com',
  'date': '2022-01-31T18:17:12Z'},
 'message': 'lab',
 'tree': {'sha': 'b9fb03d8991737a3d8b9c5654475fede0457e5e8',
  'url': 'https://api.github.com/repos/ana17mat/lab-mysql-first-queries/git/trees/b9fb03d8991737a3d8b9c5654475fede0457e5e8'},
 'url': 'https://api.github.com/repos/ana17mat/lab-mysql-first-queries/git/commits/13c60ba2457eacab8671cccd17a4ab1941387d30',
 'comment_count': 0,
 'verification': {'verified': False,
  'reason': 'unsigned',
  'signature': None,
  'payload': None}}